:root {
  --primary-color: #272343 ;
  --secondary-color: #6D9886;
  --tertiary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header-navbar-hero {
  height: 100vh;
  background-image: 
    url(/assets/risen-wang-20jX9b35r_M-unsplash.jpg),
    url("/assets/FrameOne.svg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */

}

li {
  list-style: none;
}
.header-navbar-hero a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 1rem;
}
.header-navbar-hero a:hover {
  color:var(--secondary-color);
}

/* Header */
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: var(--tertiary-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;

}

.action_btn:hover {
  scale: 1.05;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

.action_btn:active {
  scale: 0.95;
}
/* Dropdown Menu */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;

}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Hero */
  section.hero {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--tertiary-color);
    text-shadow: 2px 4px 4px black;
    padding: 0 4rem;
    gap: 200px;
  }

  .hero-svg {
    height: 250px;
  
  }

/* Classes */
.classes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: 
  url(/assets/Rect\Light.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}



.classes-header {
  font-size: 2.5rem;
  padding-bottom: 5px;
  font-weight: bold;
  /* text-shadow: white 1px -1px; */
}
.card-classes-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 30px;
  justify-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: solid;
  border-color: pink;
  padding-top: 30px;

}

.card-classes:hover {
  outline: solid;
  outline-color: black;
  transform: translateX(-10px);
  transition: 250ms;

}

.card-one, .card-two, .card-three{
  transform: translateX(-20px);

}

.card-classes {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
  height: 250px;
  width: calc(250px * 1.618);
  background-color: var(--tertiary-color);
}

.card-classes-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 5px;
}

.card-classes-left-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-classes-left p:first-of-type {
  font-weight: bold;
  font-size: 2.2rem;
  padding-bottom: 5px;
}


.card-classes-left a {
  font-size: 15px;
}

.card-classes-right {
  width: 100%;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.card-classes-right img{
  width: 100%;
  height: 100%;
  background-size: contain;



}

/* Testimonials */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  padding: 30px 0;
  gap: 30px;
  background-image: 
  url(/assets/ProtossGymLogoBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-top {
  font-size: 2.5rem;
}

.testimonial-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: black;
  background-color: var(--tertiary-color);
  height: calc(250px * 1.618);
  width: 250px;
}

.testimonial-cards:nth-child(1) {
  transition-delay: 100ms;
}
.testimonial-cards:nth-child(2) {
  transition-delay: 200ms;
}
.testimonial-cards:nth-child(3) {
  transition-delay: 300ms;
}


.testimonial-cards-stars {
  font-size: 1.7rem;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.testimonial-cards-comment {
  font-size: 1.2rem;
  padding: 0px 15px;
}

.testimonial-cards-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: solid;
  border-color: var(--secondary-color);
  width: 100%;
  height: 75px;
}

.testimonial-cards-name i {
  font-size: 1.7rem;
}

.testimonial-cards-name p {
  font-size: 1.2rem;
}


.testimonial-logo {
  max-width: 800px;
  min-width: 500px;
  max-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
}

.testimonial-logo-cards {
  display: flex;
  max-height: 70px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px; */
}
.testimonial-logo-cards > object {
  height: 50px;
}

.testimonial-logo-cards p{
  font-size: 1.3rem;
}




.about {
  height: 80vh;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}
.about-container-left {
  min-width: 500px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0px;
}

.about-container-left-cards {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: 20px;
 height: 200px;
}

.about-cards {
  /* border: solid;
  border-color: black;
  border-width: thin; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  gap: 10px;
  padding: 10px;
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
}

.about-bold {
  font-size: 2.2rem;
  font-weight: bold;

}

.about-regular {
  font-size: 1.2rem;
  font-weight: bold;
}

.about-cards-two {
 text-align: center;
}

.about-container-right {
  min-width: 500px;
  max-width: 700px;
}

.about-container-left-bold {
  font-size: 2.5rem;
}
.about-container-left-regular {
  font-size: 1.2rem;
}

.about-container-right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
}

.about-images {
  height: 269px;
  width: 269px;
  user-select: none;
}

.about-images-one, .about-images-four {
  border-radius: 0px 100px 0px 100px;
}

.about-images-two, .about-images-three {
  border-radius: 100px 0px 100px 0px;
}

/* Scroll Animations*/
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all .5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden1 {
  opacity: 0;
  transition: all 1s;
}

.show1 {
  opacity: 1;

}



/* Responsiveness */

@media(max-width: 992px) {
  .navbar .links, .navbar .action_btn {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
  
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}